.App {
  text-align: center;
}
h1{
  color: white;
  display: flex;
  align-items: center;
}
body{
  /* background-image: linear-gradient(
    15deg,
    hsl(240deg 49% 8%) 0%,
    hsl(315deg 66% 6%) 13%,
    hsl(1deg 67% 6%) 25%,
    hsl(27deg 100% 4%) 37%,
    hsl(60deg 33% 3%) 50%,
    hsl(41deg 39% 5%) 63%,
    hsl(29deg 34% 8%) 75%,
    hsl(16deg 28% 10%) 87%,
    hsl(0deg 23% 13%) 100%
  );
   */
   color: white;
   background-color: rgb(33, 85, 81);
}